RewriteEngine On
    # Remove trainling index-file
    RewriteCond %{REQUEST_URI} ^(.*)index\.\w*$
        RewriteRule ^ %1  [R=301,L]
    
    # Redirect to the file or folder if it exists or a page is provided
    RewriteCond %{QUERY_STRING} ^.*Page=([^&]*)$  [OR]
    RewriteCond %{REQUEST_FILENAME} -f  [OR]
    RewriteCond %{REQUEST_FILENAME} -d
        RewriteRule ^ -  [L]

    # Remove trailing slash
    RewriteCond %{REQUEST_URI} ^(.*)/$
    RewriteCond %{REQUEST_URI} ^(.*?)/?$
        RewriteRule ^ %1  [R=301,L]
        
    RewriteCond %{IS_SUBREQ} ^true$
        RewriteRule ^ -  [F,L]

    RewriteCond %{IS_SUBREQ} ^false$
        RewriteRule ^(.*)$ %1  [E=PagePath:$1]


    RewriteCond %{IS_SUBREQ} ^false$
    RewriteCond Pages/%{ENV:PagePath}.php -F  [OR]
    RewriteCond Pages/%{ENV:PagePath}.php3 -F  [OR]
    RewriteCond Pages/%{ENV:PagePath}.php4 -F  [OR]
    RewriteCond Pages/%{ENV:PagePath}.php5 -F  [OR]
    RewriteCond Pages/%{ENV:PagePath}.inc.php -F  [OR]
    RewriteCond Pages/%{ENV:PagePath}.inc -F  [OR]
    RewriteCond Pages/%{ENV:PagePath}.markdown -F  [OR]
    RewriteCond Pages/%{ENV:PagePath}.mkdown -F  [OR]
    RewriteCond Pages/%{ENV:PagePath}.mkdn -F  [OR]
    RewriteCond Pages/%{ENV:PagePath}.mkd -F  [OR]
    RewriteCond Pages/%{ENV:PagePath}.md -F  [OR]
    RewriteCond Pages/%{ENV:PagePath}.html -F  [OR]
    RewriteCond Pages/%{ENV:PagePath}.htm -F  [OR]
    RewriteCond Pages/%{ENV:PagePath}.xhtml -F  [OR]
    RewriteCond Pages/%{ENV:PagePath}.txt -F  [OR]
    RewriteCond Pages/%{ENV:PagePath}.php -F
        RewriteRule ^ ?Page=%{ENV:PagePath}  [QSA,L]
    RewriteCond Pages/%{ENV:PagePath} -F
        RewriteRule ^ Pages/%{ENV:PagePath}  [QSA,L]
    RewriteRule ^ -  [R=404,L]