RewriteEngine On
    # Remove trainling index-file
    RewriteCond %{REQUEST_URI} ^(.*)index\.\w*$
        RewriteRule ^ %1  [R=301,L]
    
    # Redirect to the file or folder if it exists or a page is provided
    RewriteCond %{QUERY_STRING} ^.*Page=([^&]*)$  [OR]
    RewriteCond %{REQUEST_FILENAME} -f  [OR]
    RewriteCond %{REQUEST_FILENAME} -d
        RewriteRule ^ -  [L]

    # Remove trailing slash
    RewriteCond %{REQUEST_URI} ^(.*)/$
    RewriteCond %{REQUEST_URI} ^(.*?)/?$
        RewriteRule ^ %1  [R=301,L]
        
    RewriteCond %{IS_SUBREQ} ^true$
        RewriteRule ^ -  [F,L]

    RewriteCond %{IS_SUBREQ} ^false$
        RewriteRule ^(.*)$ %1  [E=RequestURI:$1]


    RewriteCond %{IS_SUBREQ} ^false$
    RewriteCond Pages/%{ENV:RequestURI}.php -F  [OR]
    RewriteCond Pages/%{ENV:RequestURI}.php3 -F  [OR]
    RewriteCond Pages/%{ENV:RequestURI}.php4 -F  [OR]
    RewriteCond Pages/%{ENV:RequestURI}.php5 -F  [OR]
    RewriteCond Pages/%{ENV:RequestURI}.inc.php -F  [OR]
    RewriteCond Pages/%{ENV:RequestURI}.inc -F  [OR]
    RewriteCond Pages/%{ENV:RequestURI}.markdown -F  [OR]
    RewriteCond Pages/%{ENV:RequestURI}.mkdown -F  [OR]
    RewriteCond Pages/%{ENV:RequestURI}.mkdn -F  [OR]
    RewriteCond Pages/%{ENV:RequestURI}.mkd -F  [OR]
    RewriteCond Pages/%{ENV:RequestURI}.md -F  [OR]
    RewriteCond Pages/%{ENV:RequestURI}.html -F  [OR]
    RewriteCond Pages/%{ENV:RequestURI}.htm -F  [OR]
    RewriteCond Pages/%{ENV:RequestURI}.xhtml -F  [OR]
    RewriteCond Pages/%{ENV:RequestURI}.txt -F  [OR]
    RewriteCond Pages/%{ENV:RequestURI}.php -F
        RewriteRule ^ ?Page=%{ENV:RequestURI}  [QSA,L]
    RewriteCond Pages/%{ENV:RequestURI} -F
        RewriteRule ^ Pages/%{ENV:RequestURI}  [QSA,L]
    RewriteRule ^ -  [R=404,L]